In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# EDA
## skst

In [2]:
skst = pd.read_csv('Dillards_POS/skstinfo.csv', header = None)
skst.columns = ['sku', 'storeID', 'cost', 'retail', 'unknown']

In [3]:
skst.head(20)

    sku  storeID    cost  retail  unknown
0     3      102  123.36   440.0        0
1     3      103  123.36   440.0        0
2     3      104  123.36   440.0        0
3     3      202  123.36   440.0        0
4     3      203  123.36   440.0        0
5     3      204  123.36   440.0        0
6     3      302  123.36   440.0        0
7     3      304  123.36   440.0        0
8     3      307  123.36   440.0        0
9     3      309  123.36   440.0        0
10    3      402  123.36   440.0        0
11    3      404  123.36   440.0        0
12    3      502  123.36   440.0        0
13    3      503  123.36   440.0        0
14    3      507  123.36   440.0        0
15    3      509  123.36   440.0        0
16    3      603  123.36   440.0        0
17    3      604  123.36   440.0        0
18    3      609  123.36   440.0        0
19    3      703  123.36   440.0        0

In [4]:
unique_retail = skst.groupby('sku')['retail'].unique().reset_index()
unique_retail

            sku                     retail
0             3                    [440.0]
1             4                     [12.0]
2             8                     [40.0]
3            15                    [119.0]
4            39                    [119.0]
...         ...                        ...
760207  9999973                     [17.0]
760208  9999974  [20.5, 41.5, 41.0, 62.25]
760209  9999991                    [129.0]
760210  9999992                     [14.0]
760211  9999997               [9.75, 19.5]

[760212 rows x 2 columns]

In [9]:
filtered_df = unique_retail[unique_retail['retail'].apply(lambda x: len(x) > 1)]
filtered_df

            sku                      retail
11           78                [58.0, 40.2]
22          172         [29.0, 24.99, 24.0]
24          190         [55.0, 110.0, 73.7]
28          259                [18.0, 12.0]
30          262                  [2.0, 4.0]
...         ...                         ...
760202  9999955               [60.52, 44.5]
760203  9999956  [44.25, 59.0, 59.25, 79.0]
760204  9999960                [20.0, 18.0]
760208  9999974   [20.5, 41.5, 41.0, 62.25]
760211  9999997                [9.75, 19.5]

[312649 rows x 2 columns]

In [5]:
skst.shape

(39230146, 5)

In [6]:
skst[skst['cost'] ==0.0].groupby('sku')['retail'].unique().reset_index()

          sku retail
0         425  [0.0]
1        1117  [0.0]
2        1456  [0.0]
3        2032  [0.0]
4        2440  [0.0]
...       ...    ...
3418  9990425  [0.0]
3419  9996713  [0.0]
3420  9997101  [0.0]
3421  9998448  [0.0]
3422  9998945  [0.0]

[3423 rows x 2 columns]

In [5]:
np.sum(skst['cost'] == 0.0)

351318

## Detp

In [6]:
deptinfo = pd.read_csv('Dillards_POS/deptinfo.csv', header = None)
deptinfo.columns = ['deptID', 'dept_desc', 'unknown']

In [7]:
deptinfo.dtypes

deptID        int64
dept_desc    object
unknown       int64
dtype: object

In [8]:
deptinfo

    deptID dept_desc  unknown
0      800  CLINIQUE        0
1      801  LESLIE          0
2     1100  GARY F          0
3     1107  JACQUES         0
4     1202  CABERN          0
5     1301  BE2             0
6     1704  R LAUREN        0
7     1905  R & Y           0
8     2102  CAB             0
9     2105  R TAYLOR        0
10    2107  MAI             0
11    2200  CELEBRT         0
12    2301  BEP             0
13    2503  CHORUS          0
14    3100  4711            0
15    3102  CAMBIO          0
16    3103  COP             0
17    3105  AUSTIN          0
18    3107  ONEIDA          0
19    3404  CITIZENS        0
20    3701  LACOSTE         0
21    4303  ESPRIT          0
22    4400  BORA            0
23    4402  1928            0
24    4407  ENVIRON         0
25    4505  POLOMEN         0
26    4704  DKNY            0
27    4801  GOTTEX          0
28    5100  COLOR           0
29    5102  P&Y             0
30    5203  COLEHAAN        0
31    5207  H SIERR         0
32    5301  KAREN K         0
33    5305  LIZ CLA         0
34    5404  CARTIER         0
35    5506  MOSCHINO        0
36    6006  INVEST          1
37    6107  NOB             0
38    6400  BLUE            0
39    6402  FREDERI         0
40    6404  ELLEN T         0
41    6505  ST JOHN         0
42    6601  MATTY M         0
43    7101  CAROLE          0
44    7102  BCH             0
45    7104  CARTERS         0
46    7106  BRIOSO          1
47    7200  COFFRET         0
48    7205  LOUISVL         0
49    7307  SIGRID O        0
50    8000  ETERNIT         0
51    8002  C KLEIN         0
52    8101  ECHO            0
53    8104  COP KEY         0
54    8305  NO FEAR         0
55    8306  REEBOK          0
56    9000  ANNASUI         0
57    9105  LISLI           0
58    9306  SPERRY          0
59    9801  CATALIN         0

## str

In [9]:
strinfo = pd.read_csv('Dillards_POS/strinfo.csv', header = None)
strinfo.columns = ['storeID', 'city', 'state', 'zip', 'unknown']

In [10]:
strinfo.dtypes

storeID     int64
city       object
state      object
zip         int64
unknown     int64
dtype: object

In [11]:
strinfo

     storeID                  city state    zip  unknown
0          2  ST. PETERSBURG          FL  33710        0
1          3  ST. LOUIS               MO  63126        0
2          4  LITTLE ROCK             AR  72201        0
3          7  FORT WORTH              TX  76137        0
4          9  TEMPE                   AZ  85281        0
..       ...                   ...   ...    ...      ...
448     9808  GILBERT                 AZ  85233        0
449     9812  METAIRIE                LA  70006        0
450     9900  LITTLE ROCK             AR  72201        0
451     9906  LITTLE ROCK             AR  72201        0
452     9909  CHEYENNE                WY  82009        1

[453 rows x 5 columns]

In [12]:
strinfo['storeID'].describe()

count     453.000000
mean     4616.924945
std      2962.452265
min         2.000000
25%      2109.000000
50%      4304.000000
75%      7304.000000
max      9909.000000
Name: storeID, dtype: float64

# Transaction Cleaning

### cleaned and saved as csv so i dont have to run this again

In [ ]:
trans = pd.read_csv('Dillards_POS/trnsact.csv', header = None)

In [ ]:
# some guesses
trans.columns = ['sku', 'storeid', 'register', 'trannum', 'int1', 'saledate', 'stype', 'quantity','orgprice', 'amt', 'amt_dupe', 'int2', 'mic', 'unkown']

In [ ]:
trans[trans['amt'] != trans['amt_dupe']]
trans.drop('amt_dupe', axis = 1, inplace = True)
trans.head()

In [ ]:
trans['orgprice'].replace(0.0, np.nan, inplace=True)
trans.head()

In [ ]:
trans['orgprice'] = trans.groupby('sku')['orgprice'].fillna(method='ffill')

In [ ]:
trans['orgprice'] = trans.groupby('sku')['orgprice'].fillna(method='bfill')

In [ ]:
trans.head()

In [ ]:
trans['orgprice'].isnull().sum()

# SKU Cleaning

In [47]:
sku = pd.read_csv('Dillards_POS/skuinfo.csv', delimiter='\t', header=None)
sku = pd.DataFrame(sku[0].str.split(',', expand=True))
sku

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY,0,None,None
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR,0,None,None
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE,0,None,None
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,0,None,None
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA,0,None,None
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN,0,None,None
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA,0,None,None
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET,0,None,None
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE,0,None,None

In [48]:
bad_formatted_rows = sku[~sku[10].apply(lambda x: str(x).isdigit())]
bad_formatted_rows

,0,1,2,3,4,5,6,7,8,9,10,11,12
91,403,4704,201,000400000403000,40996LBGKC00,BLACK,L,1,7613323,CWF USA,,0,None
92,406,5203,002,000400000406000,4Z N78179,BLACK,M,1,9416216,BB CO,I,0,None
177,811,1704,206,000400000811000,30744LNGKC00,CRIMSON,18,1,7613323,CWF USA,,0,None
179,814,1704,204,000400000814000,20672LNGKC00,RUBY,18,1,7613323,CWF USA,,0,None
182,845,8305,60A,000400000845000,64FF H05355,140MED INDI,32,1,6213318,F-50,LL,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563793,9998016,8305,208,000400008016999,55FF S05900,BLACK,L,1,6213318,F-50,LL,0,None
1563985,9999102,5203,002,000400009102999,1 CR-494,BLACK,M,1,0913321,AHA,INC,0,None
1564086,9999651,4704,001,000400009651999,20090LBGKB20,FUCHSIA,L,1,7613323,CWF USA,,0,None
1564098,9999700,1704,204,000400009700999,40401SNGKB50,BALLET,24,1,7613323,CWF USA,,0,None
1564143,9999832,5203,002,000400009832999,6B N72934,GREEN,S,1,9416216,BB CO,I,0,None

In [49]:
bad_formatted_rows[9] = bad_formatted_rows[9] + ',' + bad_formatted_rows[10]
bad_formatted_rows[9] = bad_formatted_rows[9].apply(lambda x: x.strip(', '))
bad_formatted_rows

,0,1,2,3,4,5,6,7,8,9,10,11,12
91,403,4704,201,000400000403000,40996LBGKC00,BLACK,L,1,7613323,CWF USA,,0,None
92,406,5203,002,000400000406000,4Z N78179,BLACK,M,1,9416216,"BB CO, I",I,0,None
177,811,1704,206,000400000811000,30744LNGKC00,CRIMSON,18,1,7613323,CWF USA,,0,None
179,814,1704,204,000400000814000,20672LNGKC00,RUBY,18,1,7613323,CWF USA,,0,None
182,845,8305,60A,000400000845000,64FF H05355,140MED INDI,32,1,6213318,"F-50, LL",LL,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563793,9998016,8305,208,000400008016999,55FF S05900,BLACK,L,1,6213318,"F-50, LL",LL,0,None
1563985,9999102,5203,002,000400009102999,1 CR-494,BLACK,M,1,0913321,"AHA, INC",INC,0,None
1564086,9999651,4704,001,000400009651999,20090LBGKB20,FUCHSIA,L,1,7613323,CWF USA,,0,None
1564098,9999700,1704,204,000400009700999,40401SNGKB50,BALLET,24,1,7613323,CWF USA,,0,None
1564143,9999832,5203,002,000400009832999,6B N72934,GREEN,S,1,9416216,"BB CO, I",I,0,None

In [50]:
cleaned_sku = pd.concat([sku.drop(bad_formatted_rows.index), bad_formatted_rows])

# Reset the index of the merged DataFrame
cleaned_sku.reset_index(drop=True, inplace=True)

cleaned_sku

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY,0,None,None
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR,0,None,None
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE,0,None,None
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,0,None,None
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564173,9998016,8305,208,000400008016999,55FF S05900,BLACK,L,1,6213318,"F-50, LL",LL,0,None
1564174,9999102,5203,002,000400009102999,1 CR-494,BLACK,M,1,0913321,"AHA, INC",INC,0,None
1564175,9999651,4704,001,000400009651999,20090LBGKB20,FUCHSIA,L,1,7613323,CWF USA,,0,None
1564176,9999700,1704,204,000400009700999,40401SNGKB50,BALLET,24,1,7613323,CWF USA,,0,None
1564177,9999832,5203,002,000400009832999,6B N72934,GREEN,S,1,9416216,"BB CO, I",I,0,None

In [51]:
cleaned_sku.drop(columns=[10], inplace=True)
cleaned_sku.columns = ['sku', 'dept', 'classid', 'upc', 'style', 'color', 'size', 
                       'packsize', 'vendor', 'brand', 'unknown', 'extra']
cleaned_sku

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY,None,None
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR,None,None
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE,None,None
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,None,None
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1564173,9998016,8305,208,000400008016999,55FF S05900,BLACK,L,1,6213318,"F-50, LL",0,None
1564174,9999102,5203,002,000400009102999,1 CR-494,BLACK,M,1,0913321,"AHA, INC",0,None
1564175,9999651,4704,001,000400009651999,20090LBGKB20,FUCHSIA,L,1,7613323,CWF USA,0,None
1564176,9999700,1704,204,000400009700999,40401SNGKB50,BALLET,24,1,7613323,CWF USA,0,None
1564177,9999832,5203,002,000400009832999,6B N72934,GREEN,S,1,9416216,"BB CO, I",0,None

In [52]:
cleaned_sku['sku'] = cleaned_sku['sku'].astype(int)
cleaned_sku['dept'] = cleaned_sku['dept'].astype(int)

cleaned_sku.dtypes

sku          int64
dept         int64
classid     object
upc         object
style       object
color       object
size        object
packsize    object
vendor      object
brand       object
unknown     object
extra       object
dtype: object

In [53]:
d = set(deptinfo['deptID'].unique())
d

{800,
 801,
 1100,
 1107,
 1202,
 1301,
 1704,
 1905,
 2102,
 2105,
 2107,
 2200,
 2301,
 2503,
 3100,
 3102,
 3103,
 3105,
 3107,
 3404,
 3701,
 4303,
 4400,
 4402,
 4407,
 4505,
 4704,
 4801,
 5100,
 5102,
 5203,
 5207,
 5301,
 5305,
 5404,
 5506,
 6006,
 6107,
 6400,
 6402,
 6404,
 6505,
 6601,
 7101,
 7102,
 7104,
 7106,
 7200,
 7205,
 7307,
 8000,
 8002,
 8101,
 8104,
 8305,
 8306,
 9000,
 9105,
 9306,
 9801}

In [54]:
s = set(cleaned_sku['dept'].unique())
s

{800,
 801,
 1100,
 1107,
 1202,
 1301,
 1704,
 1905,
 2102,
 2105,
 2107,
 2200,
 2301,
 2503,
 3100,
 3102,
 3103,
 3105,
 3107,
 3404,
 3701,
 4303,
 4400,
 4402,
 4407,
 4505,
 4704,
 4801,
 5100,
 5102,
 5203,
 5207,
 5301,
 5305,
 5404,
 5506,
 6006,
 6107,
 6400,
 6402,
 6404,
 6505,
 6601,
 7101,
 7102,
 7104,
 7106,
 7200,
 7205,
 7307,
 8000,
 8002,
 8101,
 8104,
 8305,
 8306,
 9000,
 9105,
 9306,
 9801}

In [55]:
s == d

True

In [56]:
# Find elements that are in s1 but not in set2
difference = d.difference(s)
print("Elements in deptinfo but not in sku:", difference)

# Find elements that are in set2 but not in set1
difference_reverse = s.difference(d)
print("Elements in sku but not in deptinfo:", difference_reverse)

Elements in deptinfo but not in sku: set()
Elements in sku but not in deptinfo: set()

In [57]:
bad_rows = cleaned_sku[~cleaned_sku['packsize'].apply(lambda x: str(x).isdigit())|
    ~cleaned_sku['vendor'].apply(lambda x: str(x).isdigit())]
bad_rows

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
591117,3798822,6006,514,000400008822379,670N38,NVY,CHTI,G,110M,1,BROWN SH,0
799763,5132215,4407,006,000400002215513,009,347,331,348,N/A,1,THE TREN,0
1008031,6468962,6006,665,000400008962646,965 RIPLEY,YEL,PIN,LI,18-610,1,NINA FOO,0
1406622,9028701,6006,514,000400008701902,670N38,NVY,CHTI,G,055M,1,BROWN SH,0
1408112,9038701,6006,514,000400008701903,670N38,NVY,CHTI,G,060M,1,BROWN SH,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1562516,7851280,2105,105,000400001280785,R42265,LT GREEN,,36,1,"3622251,SARA LEE",0,None
1562533,7871280,2105,105,000400001280787,R42265,LT GREEN,,38,1,"3622251,SARA LEE",0,None
1562629,7971280,2105,105,000400001280797,R42265,LT GREEN,,40,1,"3622251,SARA LEE",0,None
1562638,7981280,2105,105,000400001280798,R42265,LT GREEN,,42,1,"3622251,SARA LEE",0,None
1563649,9310765,5100,009,000400000765931,920143,PPK,PERSON.F,OUND SMPL,1,"6041161,CHANEL I",0,None

In [58]:
# these im going to try to fix
first_set = bad_rows[bad_rows['unknown'].apply(lambda x: str(x).isdigit())]
first_set

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
1556597,701270,2105,105,000400001270070,R25136,RED,NAVY,30,1,"3622251,SARA LEE",0,None
1556613,721270,2105,105,000400001270072,R25136,RED,NAVY,32,1,"3622251,SARA LEE",0,None
1556626,741270,2105,105,000400001270074,R25136,RED,NAVY,34,1,"3622251,SARA LEE",0,None
1556636,771270,2105,105,000400001270077,R25136,RED,NAVY,36,1,"3622251,SARA LEE",0,None
1556651,791270,2105,105,000400001270079,R25136,RED,NAVY,38,1,"3622251,SARA LEE",0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1562516,7851280,2105,105,000400001280785,R42265,LT GREEN,,36,1,"3622251,SARA LEE",0,None
1562533,7871280,2105,105,000400001280787,R42265,LT GREEN,,38,1,"3622251,SARA LEE",0,None
1562629,7971280,2105,105,000400001280797,R42265,LT GREEN,,40,1,"3622251,SARA LEE",0,None
1562638,7981280,2105,105,000400001280798,R42265,LT GREEN,,42,1,"3622251,SARA LEE",0,None
1563649,9310765,5100,009,000400000765931,920143,PPK,PERSON.F,OUND SMPL,1,"6041161,CHANEL I",0,None

In [59]:
first_set['color'] = first_set['color'] + ', ' + first_set['size']
first_set['size'] = first_set['packsize']
first_set['packsize'] = first_set['vendor']
first_set[['vendor', 'brand']] = first_set['brand'].str.split(',', expand=True)
first_set['color'] = first_set['color'].apply(lambda x: x.strip(', '))
first_set

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
1556597,701270,2105,105,000400001270070,R25136,"RED, NAVY",30,1,3622251,SARA LEE,0,None
1556613,721270,2105,105,000400001270072,R25136,"RED, NAVY",32,1,3622251,SARA LEE,0,None
1556626,741270,2105,105,000400001270074,R25136,"RED, NAVY",34,1,3622251,SARA LEE,0,None
1556636,771270,2105,105,000400001270077,R25136,"RED, NAVY",36,1,3622251,SARA LEE,0,None
1556651,791270,2105,105,000400001270079,R25136,"RED, NAVY",38,1,3622251,SARA LEE,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1562516,7851280,2105,105,000400001280785,R42265,LT GREEN,36,1,3622251,SARA LEE,0,None
1562533,7871280,2105,105,000400001280787,R42265,LT GREEN,38,1,3622251,SARA LEE,0,None
1562629,7971280,2105,105,000400001280797,R42265,LT GREEN,40,1,3622251,SARA LEE,0,None
1562638,7981280,2105,105,000400001280798,R42265,LT GREEN,42,1,3622251,SARA LEE,0,None
1563649,9310765,5100,009,000400000765931,920143,"PPK, PERSON.F",OUND SMPL,1,6041161,CHANEL I,0,None

In [60]:
# some sizes are still messed up, but shouldnt affect our analysis
check_first_set = first_set[~first_set['size'].apply(lambda x: str(x).strip().isdigit())]
check_first_set

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
1556827,1040664,7104,004,000400000664104,8423-2,"RVB=RED, RY",ONE,1,1017113,WEE ONES,0,None
1557827,2324146,5100,004,000400004146232,186300,LIP BLUSH,BIZARRE,1,6041161,CHANEL I,0,None
1558339,2960806,4402,507,000400000806296,4358 HC1561,"GARNET , ALL",,1,3113687,CAROLEE,0,None
1560083,4971610,5100,009,000400001610497,920200,"PPK, VITAL",PROMO TEST,1,6041161,CHANEL I,0,None
1560671,5711031,5203,212,000400001031571,80 J02286,L37 H.GRE,L,1,3816339,ALL ACCE,0,None
1560881,5948053,4407,006,000400008053594,EF1 UU-BRR,"BLACK, RED",N/A,1,1513322,RUGGED D,0,None
1561352,6498053,4407,006,000400008053649,UU-RW,"RED, WHITE",N/A,1,1513322,RUGGED D,0,None
1561392,6561610,5100,009,000400001610656,920204,"PPK, FOUND.",PCKTT 2H05,1,6041161,CHANEL I,0,None
1561826,7078053,4407,006,000400008053707,UU-RW1,"RED, WHITE",N/A,1,1513322,RUGGED D,0,None
1563649,9310765,5100,009,000400000765931,920143,"PPK, PERSON.F",OUND SMPL,1,6041161,CHANEL I,0,None

In [61]:
# these dont have a valid 'vendor', that should be fine as we wont be using vendor in our analysis
# no idea what CHTI or G means, just dropping those
second_set = bad_rows[~bad_rows['unknown'].apply(lambda x: str(x).isdigit())]
second_set

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
591117,3798822,6006,514,000400008822379,670N38,NVY,CHTI,G,110M,1,BROWN SH,0
799763,5132215,4407,006,000400002215513,009,347,331,348,N/A,1,THE TREN,0
1008031,6468962,6006,665,000400008962646,965 RIPLEY,YEL,PIN,LI,18-610,1,NINA FOO,0
1406622,9028701,6006,514,000400008701902,670N38,NVY,CHTI,G,055M,1,BROWN SH,0
1408112,9038701,6006,514,000400008701903,670N38,NVY,CHTI,G,060M,1,BROWN SH,0
1409580,9048701,6006,514,000400008701904,670N38,NVY,CHTI,G,065M,1,BROWN SH,0
1411106,9058701,6006,514,000400008701905,670N38,NVY,CHTI,G,070M,1,BROWN SH,0
1412587,9068701,6006,514,000400008701906,670N38,NVY,CHTI,G,070N,1,BROWN SH,0
1414035,9078701,6006,514,000400008701907,670N38,NVY,CHTI,G,075M,1,BROWN SH,0
1415542,9088701,6006,514,000400008701908,670N38,NVY,CHTI,G,075N,1,BROWN SH,0
1417082,9098701,6006,514,000400008701909,670N38,NVY,CHTI,G,080M,1,BROWN SH,0
1418571,9108701,6006,514,000400008701910,670N38,NVY,CHTI,G,080N,1,BROWN SH,0
1420088,9118701,6006,514,000400008701911,670N38,NVY,CHTI,G,085M,1,BROWN SH,0
1421635,9128701,6006,514,000400008701912,670N38,NVY,CHTI,G,085N,1,BROWN SH,0
1424682,9148701,6006,514,000400008701914,670N38,NVY,CHTI,G,090M,1,BROWN SH,0
1427777,9168701,6006,514,000400008701916,670N38,NVY,CHTI,G,090N,1,BROWN SH,0
1429330,9178701,6006,514,000400008701917,670N38,NVY,CHTI,G,095M,1,BROWN SH,0
1430868,9188701,6006,514,000400008701918,670N38,NVY,CHTI,G,095N,1,BROWN SH,0
1432390,9198701,6006,514,000400008701919,670N38,NVY,CHTI,G,100M,1,BROWN SH,0
1538824,9888894,6006,514,000400008894988,670N38,NVY,CHTI,G,100N,1,BROWN SH,0

In [62]:
second_set['size'] = second_set['vendor']
second_set['packsize'] = second_set['brand']
second_set['brand'] = second_set['unknown']
second_set['vendor'] = None
second_set['unknown'] = '0'
second_set['extra'] = None
second_set

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
591117,3798822,6006,514,000400008822379,670N38,NVY,110M,1,None,BROWN SH,0,None
799763,5132215,4407,006,000400002215513,009,347,N/A,1,None,THE TREN,0,None
1008031,6468962,6006,665,000400008962646,965 RIPLEY,YEL,18-610,1,None,NINA FOO,0,None
1406622,9028701,6006,514,000400008701902,670N38,NVY,055M,1,None,BROWN SH,0,None
1408112,9038701,6006,514,000400008701903,670N38,NVY,060M,1,None,BROWN SH,0,None
1409580,9048701,6006,514,000400008701904,670N38,NVY,065M,1,None,BROWN SH,0,None
1411106,9058701,6006,514,000400008701905,670N38,NVY,070M,1,None,BROWN SH,0,None
1412587,9068701,6006,514,000400008701906,670N38,NVY,070N,1,None,BROWN SH,0,None
1414035,9078701,6006,514,000400008701907,670N38,NVY,075M,1,None,BROWN SH,0,None
1415542,9088701,6006,514,000400008701908,670N38,NVY,075N,1,None,BROWN SH,0,None
1417082,9098701,6006,514,000400008701909,670N38,NVY,080M,1,None,BROWN SH,0,None
1418571,9108701,6006,514,000400008701910,670N38,NVY,080N,1,None,BROWN SH,0,None
1420088,9118701,6006,514,000400008701911,670N38,NVY,085M,1,None,BROWN SH,0,None
1421635,9128701,6006,514,000400008701912,670N38,NVY,085N,1,None,BROWN SH,0,None
1424682,9148701,6006,514,000400008701914,670N38,NVY,090M,1,None,BROWN SH,0,None
1427777,9168701,6006,514,000400008701916,670N38,NVY,090N,1,None,BROWN SH,0,None
1429330,9178701,6006,514,000400008701917,670N38,NVY,095M,1,None,BROWN SH,0,None
1430868,9188701,6006,514,000400008701918,670N38,NVY,095N,1,None,BROWN SH,0,None
1432390,9198701,6006,514,000400008701919,670N38,NVY,100M,1,None,BROWN SH,0,None
1538824,9888894,6006,514,000400008894988,670N38,NVY,100N,1,None,BROWN SH,0,None

In [63]:
cleaned_sku = pd.concat([cleaned_sku.drop(first_set.index), first_set])
cleaned_sku = pd.concat([cleaned_sku.drop(second_set.index), second_set])
cleaned_sku = cleaned_sku.sort_values(['sku'])
cleaned_sku

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY,None,None
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR,None,None
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE,None,None
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,None,None
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1556045,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA,None,None
1556046,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN,None,None
1556047,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA,None,None
1556048,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET,None,None
1556049,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE,None,None

In [64]:
# check if we missed anything from the last 2 columns
cleaned_sku[~cleaned_sku['extra'].isna()]

Empty DataFrame
Columns: [sku, dept, classid, upc, style, color, size, packsize, vendor, brand, unknown, extra]
Index: []

In [65]:
check = cleaned_sku[~cleaned_sku['unknown'].isna()]
check[~check['unknown'].apply(lambda x: str(x).isdigit())]

Empty DataFrame
Columns: [sku, dept, classid, upc, style, color, size, packsize, vendor, brand, unknown, extra]
Index: []

In [66]:
# check if columns have correct data types
# packsize and vendor should be integers
cleaned_sku[~cleaned_sku['packsize'].apply(lambda x: str(x).isdigit())]

Empty DataFrame
Columns: [sku, dept, classid, upc, style, color, size, packsize, vendor, brand, unknown, extra]
Index: []

In [67]:
cleaned_sku[~cleaned_sku['vendor'].apply(lambda x: str(x).isdigit())]

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
591117,3798822,6006,514,000400008822379,670N38,NVY,110M,1,None,BROWN SH,0,None
799763,5132215,4407,006,000400002215513,009,347,N/A,1,None,THE TREN,0,None
1008031,6468962,6006,665,000400008962646,965 RIPLEY,YEL,18-610,1,None,NINA FOO,0,None
1406622,9028701,6006,514,000400008701902,670N38,NVY,055M,1,None,BROWN SH,0,None
1408112,9038701,6006,514,000400008701903,670N38,NVY,060M,1,None,BROWN SH,0,None
1409580,9048701,6006,514,000400008701904,670N38,NVY,065M,1,None,BROWN SH,0,None
1411106,9058701,6006,514,000400008701905,670N38,NVY,070M,1,None,BROWN SH,0,None
1412587,9068701,6006,514,000400008701906,670N38,NVY,070N,1,None,BROWN SH,0,None
1414035,9078701,6006,514,000400008701907,670N38,NVY,075M,1,None,BROWN SH,0,None
1415542,9088701,6006,514,000400008701908,670N38,NVY,075N,1,None,BROWN SH,0,None
1417082,9098701,6006,514,000400008701909,670N38,NVY,080M,1,None,BROWN SH,0,None
1418571,9108701,6006,514,000400008701910,670N38,NVY,080N,1,None,BROWN SH,0,None
1420088,9118701,6006,514,000400008701911,670N38,NVY,085M,1,None,BROWN SH,0,None
1421635,9128701,6006,514,000400008701912,670N38,NVY,085N,1,None,BROWN SH,0,None
1424682,9148701,6006,514,000400008701914,670N38,NVY,090M,1,None,BROWN SH,0,None
1427777,9168701,6006,514,000400008701916,670N38,NVY,090N,1,None,BROWN SH,0,None
1429330,9178701,6006,514,000400008701917,670N38,NVY,095M,1,None,BROWN SH,0,None
1430868,9188701,6006,514,000400008701918,670N38,NVY,095N,1,None,BROWN SH,0,None
1432390,9198701,6006,514,000400008701919,670N38,NVY,100M,1,None,BROWN SH,0,None
1538824,9888894,6006,514,000400008894988,670N38,NVY,100N,1,None,BROWN SH,0,None

In [68]:
# change data types, changed nan vendors to 0
cleaned_sku['vendor'] = cleaned_sku['vendor'].fillna(0).astype(int)

cleaned_sku['packsize'] = cleaned_sku['packsize'].astype(int)

cleaned_sku.dtypes

sku          int64
dept         int64
classid     object
upc         object
style       object
color       object
size        object
packsize     int64
vendor       int64
brand       object
unknown     object
extra       object
dtype: object

In [70]:
# now figure out the classid before exporting
bad_classid = cleaned_sku[~cleaned_sku['classid'].apply(lambda x: str(x).isdigit())]
bad_classid.head(50)

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown,extra
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,None,None
7,24,3404,00B,000400000024000,8A 9H8145,428MEDIUM ST,2,1,4810170,AMERICAN,None,None
12,50,5404,00B,000400000050000,BE-AARK6691-,BLACK,5,1,6713321,LOLLYTOG,None,None
44,172,5203,B07,000400000172000,OL A1484W,ORIENTAL B,M,1,8016212,MOA MOA,None,None
80,348,3404,00F,000400000348000,04-61 444221,ASSORTED,5,1,914938,KIDS HEA,None,None
113,498,3404,F0K,000400000498000,5 BH8626,401INDIGO,6,1,4810170,AMERICAN,None,None
121,545,3404,00H,000400000545000,RS4 XT0413,MEDIUM SAN,5,1,5116219,ALPHA GA,None,None
155,716,8305,60A,000400000716000,80328T,NAVY,30 MEDIUM,1,5513117,I.C. ISA,None,None
156,726,8305,60A,000400000726000,3 R12J17,476INDIGO RI,36,1,6816221,URBAN ME,None,None
176,816,1704,20A,000400000816000,337642Z52713,PURE RED,3/6,1,9116209,TOMMY HI,None,None
1556054,845,8305,60A,000400000845000,64FF H05355,140MED INDI,32,1,6213318,"F-50, LL",0,None
208,1027,5404,00C,000400001027000,24 385577,ASSORTED,7X,1,914938,KIDS HEA,None,None
214,1065,5404,00D,000400001065000,57-263455430,OATMEAL GR,4,1,914938,TIMBERLA,None,None
252,1207,1704,30A,000400001207000,65 YG0424,PALEYEL,ONE,1,3213321,RALPH LA,None,None
318,1511,801,20A,000400001511000,079 PD455B,300LEAF/IVR,16,1,23272,KASPER /,None,None
432,1936,2105,51A,000400001936000,R426PK,CARMEL PIN,S,1,3622251,SARA LEE,None,None
452,1991,8305,60A,000400001991000,0 SJ6180,200CAMEL,34,1,6916210,SEAN JOH,None,None
456,2014,8101,00A,000400002014000,7S A3T490,DREAMY PIN,6,1,8416210,SUNSET C,None,None
969,6839,3404,G02,000400006839000,01DL E2144C,145WHITE M,6X,1,1016208,SWAT FAM,None,None
1022,7242,3404,G02,000400007242000,2447 00221C,SOFT PINK,5,1,8916221,KWDZ MFG,None,None
1025,7256,5404,00G,000400007256000,G 801006,487NAVY-GO,BOYS 3,1,6024375,HADDAD/B,None,None
1032,7308,5404,60A,000400007308000,T1 R16J7T,MULTI-NFL,SMALL,1,7416343,OUTERSTU,None,None
1060,7432,8305,60A,000400007432000,1 HJ4183,SCOTT BLEA,38,1,6916210,SEAN JOH,None,None
1063,7449,5404,F0C,000400007449000,68651,UTILITY,5,1,2513314,CATTON A,None,None
1087,7563,8101,00A,000400007563000,1407,INDIGO,12,1,217310,WOOLRICH,None,None
1121,7722,5404,00E,000400007722000,3 P90605,STEEL,7/L,1,1210256,ANDREW S,None,None
1131,7782,5404,00D,000400007782000,Z 535151,073CAROL/L,3,1,1516341,AND 1 KI,None,None
1148,7890,5404,00B,000400007890000,9 S45000,NXT NAVY S,07,1,52166,FISHMAN,None,None
1184,8119,3404,H0D,000400008119000,01DL B7856C,998KHAKI,5,1,1016208,SWAT FAM,None,None
1196,8201,9801,G24,000400008201000,5 12498C,PINK,XL,1,5515994,SESSA,None,None
1222,8337,9801,G28,000400008337000,3 31188C,BLUE,L,1,7013562,LA BLANC,None,None
1259,8504,3404,A01,000400008504000,0 CA3286,440TURQ,M,1,4820170,AMERICAN,None,None
1283,8625,9801,D18,000400008625000,3 10272C,NAVY/WHITE,L,1,8017013,NAUTICA/,None,None
1284,8626,3404,A0A,000400008626000,JQ XL9954,FUC651,6X,1,1212628,GREAT ES,None,None
1286,8640,5404,H2E,000400008640000,6A S498B1,EVERGREEN,7,1,813323,TWO DOOR,None,None
1292,8676,9801,B17,000400008676000,I54034,BLACK,ONE,1,11131,CEJON AC,None,None
1322,8880,5404,H1E,000400008880000,S206J,KHAKI,5,1,1814937,WES & WI,None,None
1331,8942,5404,H2E,000400008942000,9 HJ4023,410NAVY,5,1,6613321,FLAPDOOD,None,None
1344,9036,5404,00E,000400009036000,8513S1,410NAVY,5,1,8012569,GOOD LAD,None,None
1428,9587,3404,G3C,000400009587000,374 F05H80,NAVY,6X,1,2912827,HARTSTRI,None,None
1432,9596,3404,00D,000400009596000,5 HS3021,975MULTI,ASST,1,6613321,FLAPDOOD,None,None
1455,9689,8305,60A,000400009689000,78EK F05352,494RAW,38,1,226176,DAX CORP,None,None
1467,9730,5404,H5E,000400009730000,P97235,TAN,7,1,2513314,CATTON A,None,None
1476,9775,3404,F0F,000400009775000,N54901,PINK,3,1,4014658,NANNETTE,None,None
1477,9778,3404,00A,000400009778000,8 JA3206,678FIESTA PI,S,1,9516211,DESIGNER,None,None
1527,10024,3404,00B,000400000024001,8A 9H8145,428MEDIUM ST,3,1,4810170,AMERICAN,None,None
1534,10050,5404,00B,000400000050001,BE-AARK6691-,BLACK,6,1,6713321,LOLLYTOG,None,None
1536,10057,2105,22A,000400000057001,09 F55UM2,BLACK,I6,1,13109,MURANO,None,None
1567,10172,5203,B07,000400000172001,OL A1484W,ORIENTAL B,S,1,8016212,MOA MOA,None,None
1611,10348,3404,00F,000400000348001,04-61 444221,ASSORTED,6,1,914938,KIDS HEA,None,None

In [71]:
cleaned_sku['classid'].nunique()

1055

In [72]:
bad_classid['classid'].nunique()

281

In [73]:
max_length = cleaned_sku['classid'].str.len().max()
max_length

3

In [78]:
cleaned_sku.drop(columns=['unknown', 'extra'], inplace=True)
cleaned_sku.head()

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,23272,JONES/LA

In [81]:
## output as csv
cleaned_sku.to_csv('clean_sku.csv', index=False)

In [74]:
## classid doesnt match with schema description

In [75]:
cleaned_sku['upc'].nunique()

1564178

In [76]:
cleaned_sku['sku'].nunique()

1564178

In [42]:
cleaned_sku['style'].nunique()

316782

In [43]:
cleaned_sku['color'].nunique()

71579

In [44]:
cleaned_sku[cleaned_sku['packsize']!=1]

,sku,dept,?,upc,style,color,size,packsize,vendor,brand,unknown,extra
19,73,6107,001,000400000073000,3 F11G28,WHITE,HAND,6,2017178,NOBILITY,None,None
68,279,1202,204,000400000279000,D2221,619SCARLET,M,3,4432768,CALVIN K,None,None
72,319,9105,212,000400000319000,00B F35WR5,OBSIDIAN,2X,2,132766,ROUNDTRE,None,None
75,327,2107,003,000400000327000,3 327H30,COPPER,ALL,4,4959207,MAIN ING,None,None
119,538,6107,405,000400000538000,10822,NAT/DENIM,BATH,6,3534933,DONISA I,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1555751,9998448,800,009,000400008448999,6CEJ41,REPAIRWEAR,LOT SAMPLE,24,5511283,CLINIQUE,None,None
1555852,9999059,6107,105,000400009059999,1-10309991-4,SAGE,BATH,3,15849,SATURDAY,None,None
1555869,9999170,800,007,000400009170999,608E,39LOVEY DOVE,PR SHADES,3,5511283,CLINIQUE,None,None
1555988,9999769,5100,004,000400009769999,151501,RICH BROWN,HY/CARESSE,3,6041161,CHANEL I,None,None
1556038,9999950,800,007,000400009950999,635P,10BERRY,LL SHINE,3,5511283,CLINIQUE,None,None

In [45]:
cleaned_sku['brand'].nunique()

1959

In [46]:
cleaned_sku['vendor'].nunique()

2373