In [1]:
import pandas as pd
import dask.dataframe as dd

In [15]:
deptinfo = pd.read_csv('Dillards_POS/deptinfo.csv', header = None)
deptinfo = deptinfo.drop(deptinfo.columns[2], axis=1)
deptinfo.columns = ['deptID', 'dept_desc']

In [19]:
deptinfo.dtypes

deptID        int64
dept_desc    object
dtype: object

In [16]:
deptinfo

    deptID dept_desc
0      800  CLINIQUE
1      801  LESLIE
2     1100  GARY F
3     1107  JACQUES
4     1202  CABERN
5     1301  BE2
6     1704  R LAUREN
7     1905  R & Y
8     2102  CAB
9     2105  R TAYLOR
10    2107  MAI
11    2200  CELEBRT
12    2301  BEP
13    2503  CHORUS
14    3100  4711
15    3102  CAMBIO
16    3103  COP
17    3105  AUSTIN
18    3107  ONEIDA
19    3404  CITIZENS
20    3701  LACOSTE
21    4303  ESPRIT
22    4400  BORA
23    4402  1928
24    4407  ENVIRON
25    4505  POLOMEN
26    4704  DKNY
27    4801  GOTTEX
28    5100  COLOR
29    5102  P&Y
30    5203  COLEHAAN
31    5207  H SIERR
32    5301  KAREN K
33    5305  LIZ CLA
34    5404  CARTIER
35    5506  MOSCHINO
36    6006  INVEST
37    6107  NOB
38    6400  BLUE
39    6402  FREDERI
40    6404  ELLEN T
41    6505  ST JOHN
42    6601  MATTY M
43    7101  CAROLE
44    7102  BCH
45    7104  CARTERS
46    7106  BRIOSO
47    7200  COFFRET
48    7205  LOUISVL
49    7307  SIGRID O
50    8000  ETERNIT
51    8002  C KLEIN
52    8101  ECHO
53    8104  COP KEY
54    8305  NO FEAR
55    8306  REEBOK
56    9000  ANNASUI
57    9105  LISLI
58    9306  SPERRY
59    9801  CATALIN

In [17]:
strinfo = pd.read_csv('Dillards_POS/strinfo.csv', header = None)
strinfo = strinfo.drop(strinfo.columns[4], axis=1)
strinfo.columns = ['storeID', 'city', 'state', 'zip']

In [20]:
strinfo.dtypes

storeID     int64
city       object
state      object
zip         int64
dtype: object

In [18]:
strinfo

     storeID                  city state    zip
0          2  ST. PETERSBURG          FL  33710
1          3  ST. LOUIS               MO  63126
2          4  LITTLE ROCK             AR  72201
3          7  FORT WORTH              TX  76137
4          9  TEMPE                   AZ  85281
..       ...                   ...   ...    ...
448     9808  GILBERT                 AZ  85233
449     9812  METAIRIE                LA  70006
450     9900  LITTLE ROCK             AR  72201
451     9906  LITTLE ROCK             AR  72201
452     9909  CHEYENNE                WY  82009

[453 rows x 4 columns]